@{
    Layout="Home";
}

@using Factory.Models

<div class="homepage">

    <h3>@Html.ActionLink("See Engineers", "Index", "Engineers")</h3>
    <h3>@Html.ActionLink("See Machines", "Index", "Machines")</h3>

</div>